.App {
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
}

header .left {
    flex-grow: 1;
}

header .center {
    flex-grow: 3;
    text-align: center;
}

header .right {
    flex-grow: 1;
    text-align: right;
}

.TransactionFailed {
    word-break: break-all;
}
